<h1>Listing job_histories</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Employmentdate</th>
      <th>Salary</th>
      <th>Candidate</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_histories.each do |job_history| %>
      <tr>
        <td><%= job_history.job %></td>
        <td><%= job_history.employmentdate %></td>
        <td><%= job_history.salary %></td>
        <td><%= job_history.candidate_id %></td>
        <td><%= link_to 'Show', job_history %></td>
        <td><%= link_to 'Edit', edit_job_history_path(job_history) %></td>
        <td><%= link_to 'Destroy', job_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job history', new_job_history_path %>
